.App {
  color: #fff
}

body{
  background-color: #10101a;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #10101a;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headline{
  font-family: Mark Pro,sans-serif;
  color: #FFFFFF;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  /* margin-top: 250px; */
  text-align: left;
  justify-content: center;
  margin-top: 250px;
  margin-left: 150px;
  margin-right: 400px;
}

.Menu-Top{
  position: fixed;
  top: 5rem;
  right: 0;
  left: 0;
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(42,43,56,.5);
  border: 0.2rem solid #2a2b37;
  backdrop-filter: blur(104px);
  border-radius: 1rem;
  height: 10px;
}
.row-menu{
  justify-content: center;
}
.Menu-Top .name-logo span {
  font-family: sans-serif;
  color: #c4c4c4;
  margin-right: 10px;
}

img{
  overflow-clip-margin: content-box;
  overflow: clip;
  height: 30px;
  width: 30px;
}
.projects{
  display: flex;
  margin-top: 100px;
  margin-left: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  
}
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
